/*
 * 
 */

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
}

body {
    height: 100%;
    background-color: white;
    font: 13.34px verdana, helvetica, arial, sans;
    text-align: center;
    line-height: 24px;
}

p {
   margin: 1em 0;
}

div#site{
    background-color: #EEEEEE;
}
/*
 * header
 */
#header {
    background-color: #333333;
    width: 100%;
    border-bottom: 2px solid #555555;
}

#blogTitle{
    width: 950px;
    text-align: left;
    margin: auto;
    padding: 20px 20px 5px 0;
}

#blogTitle h1.blogName{
    display: inline;
    font: 36px Monaco, "Bitstream Vera Sans", monospace, "Courier New";
    text-align: left;
    font-weight: bold;
}

#blogTitle div.description {
    font: 14px Monaco, monispace;
    display: inline;
    color: #DDDDDD;
}

#blogTitle h1 a {
    color: #24BDDF;
    text-decoration: none;
}

#blogTitle .navigation {
    margin-top: 14.34px;
}

#blogTitle .navigation a {
    -moz-border-radius: 3px 3px 3px 3px;
    color: #CBB7A6;
    font-size: 15.34px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 10px;
}

#blogTitle .navigation a:hover {
    background-color: #555555;
    color: #DDDDDD;
}

#content {
    background-color: #FFFFFF;
    text-align: justify;
    padding: 40px 20px 40px 20px;
    width: 950px;
    margin: auto;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

/* 
 * #main
 */
#main {
    float: left;
    display:inline;
    width: 650px;
}

#main h1 {
    color: #555555;
    font-size: 160%;
}

h1.title{
    border-bottom: 1px solid #CCCCCC;
}

div.create_date{
    color: #FF9933;
    font-weight: bold;
}
/*
 * sidebar
 */
#sidebar {
    border-left: 1px solid #DDDDDD;
    padding-left: 1em;
    width: 250px;
    float: right;
    display: inline;
}

#sidebar .module h2 {    
    color: #555555;
    padding: 25px 0px 5px 40px;
    font-size: 1.2em;
    margin-left: -10px;
    background: url("/media/image/sidebar_icon.gif") no-repeat scroll 10px 15px transparent;
    
}

#sidebar .module a {
    text-decoration: none;
}

/*
 * posts
 */
ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #AAAAAA;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

ul.posts a {
    color: #24BDDF;
    font-weight: bold;
    text-decoration: none;
}

ul.posts a:hover {
    color: #FF49BD;
    text-decoration: underline;
}

/*
 * #categories
 */
ul.categories {
    list-style-type: none;    
}

/*
 * #tagCloud
 */
#tagCloud ul li {
    display: inline;
    line-height: 0.9em;
}

#tagCloud a {
    /*color: #C07B5F;*/
    color: #777777;
    font-weight: bold;
}

#tagCloud a:hover {
    color: #91C704;
    text-decoration: underline;
}

#tagCloud ul li.cloud-rank-1{
    font-size: 22px;
}

#tagCloud ul li.cloud-rank-2{
    font-size: 20px;
}

#tagCloud ul li.cloud-rank-4{
    font-size: 18px;
}

#tagCloud ul li.cloud-rank-5 {
    font-size: 16px;
}

#tagCloud ul li.cloud-rank-6{
    font-size: 14px;
}

#tagCloud ul li.cloud-rank-7{
    font-size: 12px;
}

/*
 * for post body
 */
#post {
    color: #555555;
}

#post h1 {
    color: #555555;    
}

#post h1 a{
    color: #555555;
}

#post h1 a:hover{
    color: #555555;
}

#post a {
    color: #177BB1;
    text-decoration: none;
}

#post a:hover {
    color: #FF49BD;
}

#post pre {
    background-color: #EEEEFF;
    border: 1px solid #DDDDDD;
    padding: 5px 5px 5px 15px;
    font: 13px Monaco, Consolas, "Bitstream Vera Sans", monospace, "Courier New";
}

#post pre code {
    font: 13px Monaco, Consolas, "Bitstream Vera Sans", monospace, "Courier New";
    border: none;
}

code {
    display: inline;
    border: 1px dashed #DDDDDD;
    font: 13px Monaco, Consolas, "Bitstream Vera Sans", monospace, "Courier New";
}

#post ul {
    list-style-type: square;
    margin-left: 2em;
}

#post blockquote {
    padding: 5px 30px 0px 30px;    
    color: #666666;
}

#post blockquote:before {
    content: open-quote;
    height: 0;
    margin-left: -30px;    
    margin-bottom: -20px;
    color: #DCDDDD;
    display: block;
    font-size: 60px;
    width: 50px;
    font-family: Monaco, monospace;
}

#post .tags a{
    text-decoration: none;
    border: 1px dashed #DDDDDD;
    padding: 2px 10px;
    color: #666666;
    background-color: #EEEEEE;
}

#post .tags a:hover{
    color: #FF49BD;
}

#post ul.tags {
    list-style-type: none;
    margin: 0px 0px;
}

#post ul.tags li{
    display: inline;
    margin: 2px;
}

blockquote:before {
}

/*
 * .clear
 */
.clear {
    clear: both;
}

/*
 * #footer
 */
#footer {
    margin: 0px;
    padding: 10px 0px;
    border-top: 1px solid #555555;
    background-color: #333333;
}

#footer a {
    color: #24BDDF;
    text-decoration: none;
    font-weight: bold;
}

#footer a:hover {
    color: #FF49BD;
}
